grpcio==1.16.1
grpcio-tools==1.16.1
googleapis-common-protos==1.5.5
distance-metrics==0.0.2
scikit-learn==0.20.1
pampy==0.2.1
pyyaml
tqdm
tabulate
opencv-python==3.4.4.19
pillow
numpy
torch
matplotlib==2.2.0
gitpython==2.0.5
tornado==6.0.1
editdistance==0.5.2
prettytable
pytest
bert-base==0.0.9
git+http://git.tianrang-inc.com/tianshi/adder.git@v1.0.1
